.main-image {
	height: 300px;
	width: 300px;
}
.main-image-wrapper {
	margin-top: 40px;
}
.main-form {
	 padding: 40px;
}
.main-form-label {
	padding: 8px 0 9px 0;
}
.main-form-input {
	 margin: 0 7px;
}
.main-answer {
	 margin-top: -20px;
	 margin-left: auto;
     margin-right: auto;
     width: 60%;
}
.container {
	text-align: center;
}
